<h2> Your currently blacklisted users </h2>

<div>   
    <%= link_to 'Create new blacklisted user', new_user_blacklist_path(current_user) %>
</div>

<div>   
    <%= link_to 'Back', root_path %>
</div>