// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post{
  display: flex;
  justify-content: center;
}

.post-image img{
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.post-content{
  width:80vw;
}
.card{
  background-color: white;
  border-style: solid;
  border-color: grey;
  margin-bottom: 2em;
  word-wrap: break-word;

}
.card-text{

}
.card:hover{
  border-color: black;
}

ul{
  list-style-type: none;
  padding: 0;
}
