<p>
  <strong><%= comment.author %>: </strong><%= comment.text %><br>
  <% if current_user && (current_user.username == comment.author || current_user.is_admin) %>
      <%= link_to 'Delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'You are about to delete this comment. Are you sure?' } %>
  <% end %>
</p>