<%= form_tag(articles_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'Search', name: nil %>
  <%= link_to 'or filter by category', categories_path %>

  <p>Advanced search options:</p>
  <ul>
  	<li> !top - to see the top posts of all time
   	<li> !new - to see the newest posts
   	<li> !like # - to only see posts with at least # likes
   	<li> !video - to only see posts which contain videos
  </ul>
<% end %>