<h1> All Conversations </h1>

<!-- Loop through all the conversations -->
<% @conversations.each do |conversation| %>
  <div>
    <%= link_to conversation.subject, conversation_path(conversation) %>
  </div>

<% end %>