<h3>Your account has been updated, below is your current information. </h3>

<p>
    Your username is: <%= @user.username %>
</p>

<p>
    Your email is: <%= @user.email %>
</p>

<p>
    Your password is: <%= @user.password %>
</p>
