<h3> Your post has been commented on. </h3>

<p>
    Comment from <%= @comment.author %>:
</p>

<blockquote>
    <%= @comment.text %>
</blockquote>


<p>
    Message sent at: <%= @comment.created_at %>
</p>
