<%= render 'main/header' %>

<header class="container">
    <div class="container-fluid">
	
	<h1>Editing User</h1>

	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', root_path %>

    </div>
</header>